@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.customContainer {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  /* background-color: aqua; */
}
